<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.BirthdayWishingAndroidApplication">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.BirthdayWishingAndroidApplication.fullScreen1"></activity>
        <activity android:name="com.example.BirthdayWishingAndroidApplication.fullScreen" />
        <activity android:name="com.example.BirthdayWishingAndroidApplication.friendsMemories" />
        <activity android:name="com.example.BirthdayWishingAndroidApplication.yourMemories" />
        <activity android:name="com.example.BirthdayWishingAndroidApplication.friends" />
        <activity android:name="com.example.BirthdayWishingAndroidApplication.option" />
        <activity android:name="com.example.BirthdayWishingAndroidApplication.dashboard" />
        <activity android:name="com.example.BirthdayWishingAndroidApplication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>